.todo-list-template {
    background: white;
    width: 40%;
    border: 5px solid rgb(97, 64, 64);
    border-radius: 8px;
    /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); 그림자  */
    /* 페이지 중앙 정렬 */
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 3rem;
    margin-bottom: 4rem;
    float: left;
  }

  .date { 
    padding: 1rem;
    color: yellow;

  }
  .form-wrapper input{
    width: 30%;
  }
  .title {
    padding: 2rem;
    font-size: 2.5rem;
    text-align: left;
    font-weight: 100;
    color: black;
    border-bottom: 1px solid gray;

  }
  
  .form-wrapper {
    padding: 1rem;
    border-bottom: 1px solid gray;
  }
  
  .todos-wrapper {
    min-height: 1rem;
  }

