
.check-container{
    width: 80%;
    margin-top : 5%; 
    margin-bottom : 5%;
    padding : 5%;
    height: 1000px;
    overflow: auto;
    background: rgb(54, 137, 229);
    border: 1px solid rgb(54, 137, 229);
    border-radius: 50px;
}

.check2-container{
    margin-top: 5%;
    margin-bottom: 5%;
    padding:5%;
    width:90%;
    height: 800px;
    overflow: auto;
    background-color: white;
    border: 1px solid rgb(54, 137, 229);
    border-radius: 50px;
  }