
.check-box{
    position:relative;
    margin:auto;
    margin-top: 5%;
    width: 90%;
    height: 80%;
    
    

}

.check-title{
    text-align: left;
    margin-left: 2%;
    margin-bottom: 0;
    font-size: 30px;
    font-weight: bold;
}