
.check-container{
    width: 500px;
    margin-top : 10%; 
    margin-bottom : 10%;
    margin-left: 10%;
    padding : 5%;
    height: 500px;
    overflow: auto;
    border-radius: 50px;
    background-color: white;
    background-color: rgba( 255, 255, 255, 0.2 );
    border-right: 1px solid black;
    display: inline-block;
    

}
