.service-container{
    width: 1000px;
    margin-top : 5%; 
    margin-bottom : 5%;
    padding : 5%;
    height: 1000px;
    overflow: auto;
    background: rgb(54, 137, 229);
    border: 1px solid rgb(54, 137, 229);
    border-radius: 50px;
    text-align: text;
}

.service2-container{
    margin-top: 5%;
    margin-bottom: 5%;
    padding:5%;
    width:500px;
    height: 500px;
    overflow: auto;
    background-color: white;
    border: 1px solid rgb(54, 137, 229);
    border-radius: 50px;
  }