.address_box{
    text-align: center;
    margin-top: 10px;
}

.input_button{
    font-size: 15px;
    border: 3px solid rgb(34, 28, 28);;
    background-color:rgb(34, 28, 28);
    color: rgb(255, 255, 255);
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 2px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    
}

.address_box button{
    font-size: 20px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    border: 3px solid rgb(34, 28, 28);;
    background-color:rgb(34, 28, 28);
    margin:auto;
    margin-top: 10px;
    margin-bottom: 30px;
    width:200px;
    height: 4rem;

}

